.footer {
  background: #000000;
}
.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  justify-items: center;
}
.footer-texto {
  font-size: 1rem;
  line-height: 1.33;
  color: #cccccc;
}
.footer-contato li {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
}
.footer-contato a {
  color: #ffffff;
}
.footer-contato a::before {
  content: "Linkedin ";
  color: rgb(10, 102, 204);
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1rem;
  color: #8f8f8f;
}
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 0.85rem;
    margin-bottom: 20px;
  }
  .footer-texto {
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    font-weight: 400;
  }
}
