body {
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
  gap: 0px;
  max-width: 100%;
  margin: 0;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  color: #141414;
  justify-items: center;
  align-items: center;
  align-content: space-around;
}
h1,
h2,
h3,
p,
section {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}
@media (max-width: 1200px) {
  .subtitulo {
    font-size: 5rem;
    width: 6ch;
  }
}
@media (max-width: 800px) {
  .subtitulo {
    font-size: 3.5rem;
    max-width: 1ch;
  }
}
@media (max-width: 600px) {
  .subtitulo {
    font-size: 2.25rem;
    text-transform: capitalize;
    width: 100%;
  }
}
