.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  align-items: center;
  position: relative;
}
.introducao .fotofundo {
  position: absolute;
  display: inline-block;
}
.introducao .titulo p,
h1 {
  position: relative;
  color: #f5f5f5f5;
  text-align: center;
}
.introducao .titulo p {
  font-size: 1.5rem;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .introducao {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    top: 0px;
  }

  .introducao h1,
  p {
    text-align: center;
  }
  .introducao h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 820px) {
  .introducao .titulo h1 {
    font-size: 2.25rem;
    align-content: center;
    gap: 10px;
  }
  .introducao .titulo p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .introducao .titulo {
    display: grid;
  }
  .introducao .pfoto {
    max-width: 250px;
  }
  .introducao .titulo h1 {
    font-size: 1.5rem;
    gap: 10px;
  }
  .introducao .titulo p {
    font-size: 0.75rem;
  }
}
@media (max-width: 480px) {
  .introducao .titulo h1 {
    font-size: 1.125rem;
    gap: 10px;
  }
  .introducao .titulo p {
    font-size: 0.5rem;
  }
}
